// partials
@import "./resets";
@import "./variables";

// functions
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

body {
  background-color: $primary-color;
  color: $text-color;
}

// nesting
.main {
  width: 80%;
  margin: 0 auto;
  //   & equal to .main i.e. parent class
  //   &_paragraph {
  //     font-weight: map-get($font-weights, bold);
  //   }
  // interpolation to apply styles to parent class as well
  #{&}_paragraph {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }
}
