// partials
@import "./resets";
@import "./variables";

// functions
// functions should be used to compute and return values
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

body {
  background-color: $primary-color;
  color: $text-color;
}

//mixins
//mixins should be used to define styles
// @mixin font($weight-name) {
//   font-weight: weight($weight-name);
// }
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// nesting
.main {
  @include flexCenter(row);
  // for sass operations types has to be same
  width: 80% - 40%;
  margin: 0 auto;
  //   & equal to .main i.e. parent class
  //   &_paragraph {
  //     font-weight: map-get($font-weights, bold);
  //   }
  // interpolation to apply styles to parent class as well
  #{&}_paragraph1 {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }

  // extend/entensions
  #{&}_paragraph2 {
    @extend .main_paragraph1;
    &:hover {
      color: $accent-color;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.light {
  @include theme($light-theme: true);
}
